
<div class="card-container-caught ">
  
    <div class="details-container">
      <img class ="pokemon-image" src={{catchedPokemon.baseStats.img}}/>

      <div class="card-elements" >
        <p>  {{catchedPokemon.baseStats.name}}</p>
      <div class="card-elements">
        <label>Weight: </label>
        <p>{{catchedPokemon.profile.weight}}</p>
      </div>
      <div class="card-elements">
        <label>Height: </label>
        <p>{{catchedPokemon.profile.height}}</p>
      </div>
    
      </div>
     
    </div>
    
</div>
    
    