/* You can add global styles to this file, and also import other style files */
.card-container{
    width:70%;
    border-width: 10px;
    border: 2px solid cornflowerblue;
    background-color: white;
    border-radius: 6px;
    margin:15px;
    box-shadow: 0 7px #999;
}
.card-container-caught{
    width:70%;
    border-width: 10px;
    border: 2px solid rgb(235, 119, 24);
    background-color: gold;
    border-radius: 6px;
    margin:15px;
    box-shadow: 0 7px #999;
    
}
.details-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin:auto;
}
.card-elements{
    align-items: center;
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:8px;
}
.pokemon-image{
    height: 40%;
    width: 40%;
}
.pokeball-image{
    height: 5%;
    width: 5%;
}
.nav-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    
}
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    opacity: 100%;
}
.catalogue-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.landing-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10%;
    }
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid cornflowerblue;
    background-color: white;
    height: 40px;
    width: 80px;
    border-radius: 6px;
    margin: 10px;
    font-size: 12px;
    color: rgb(49, 97, 185);
    box-shadow: 0 6px #999;
    text-align: center;

}
.button:hover {
background-color: rgb(49, 97, 185);
color: white;
}

.button:active {
background-color: rgb(60, 122, 236);
box-shadow: 0 5px #666;
transform: translateY(4px);
color: white;
}

.font{
    color: rgb(49, 97, 185);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.body{
    background-color: rgb(184, 209, 255);
    min-height: 100%;
    min-width: 100%;
    background-size:50% 100%;
    background-repeat: no-repeat;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/768px-Pok%C3%A9_Ball_icon.svg.png"); 
    background-position: center;
    background-attachment: fixed;
    opacity: 100%;
}
